[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
requests = "*"
django-autoslug = "*"
django-bulk-sync = "*"
django-environ = "*"
python-social-auth = "*"
social-auth-app-django = "*"
social-auth-core = "*"
django-rest-passwordreset = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
