@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Vollkorn', serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: $background-color;
    min-height: 100vh;
    position: relative;
    @include transition-ease;
}

a {
    text-decoration: none;
}