.site-header {
    background-color: $primary-color;
    margin-bottom: 2rem;
    z-index: 999;
    width: 100%;
    padding: 1rem 1rem;

    @include shadow-md;
}

.site-footer {
    background-color: $primary-variant-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 -5px 8px rgba(0,0,0,.3);
}

.content-wrap {
    padding-bottom: 12rem;
}

.container-tablet, .container-laptop, .container-laptop-lg {
    margin: 0 auto;
    max-width: 100%;
    min-height: 100%;
}

.container-mobile {
    margin: 0 auto;
    max-width: 370px;
    min-height: 100%;
}

.text-darken {
    display: none;
}