.btn {
	padding: 0.5rem 1.2rem;
	background-color: $secondary-variant-color;
	color: set-text-color($secondary-variant-color);
	outline: none;
	border: none;
	border-radius: 6px;
	display: block;
	cursor: pointer;
	transition: transform 0.2s ease-in;
	@include shadow-sm;

	&__edit {
		outline: none;
		border: none;
		color: $primary-color;
		background: transparent;
		cursor: pointer;
		margin: 0 10px;
	}

	&__upload {
		width: 100%;
		display: inline-block;
		position: relative;
		margin-bottom: 10px;

		&__field {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
		}

		&__container {
			padding: 10px;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #eee;
			border: 3px dotted #bebebe;
			border-radius: 10px;

			&.dragover {
				border-color: #555;
			}
		}
	}

	&__danger {
		background: $error-color;
		color: set-text-color($error-color);
	}

	&__submit {
		min-width: 100%;
	}

	&__contrast {
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
	}

	&__disabled,
	&__disabled * {
		position: relative;
		opacity: 0.7;
		cursor: not-allowed !important;

		&:hover {
			transform: none !important;
		}

		&:active {
			pointer-events: none;
		}
	}

	&:hover {
		transform: translateY(-2.5px);
	}
}

.inline-btns {
	display: inline-flex;
	gap: 10px;
	width: 100%;
	flex-wrap: wrap;
	margin: 0 auto;

	&.f-w {
		flex-wrap: nowrap;

		& > button {
			width: 100%;
		}
	}
}

.icon-text {
	display: flex;
	align-items: center;

	&__icon {
		margin-right: 5px;
	}
}

.nav-btn {
	transform: scale(1.7);
	position: relative;
	height: 28px;
	width: 20px;
	margin-right: 1rem;
	cursor: pointer;

	&__burger {
		$burger-color: set-text-color(set-text-color($primary-color));

		position: absolute;
		right: 0;
		top: 0.7rem;
		width: 16px;
		height: 3px;
		border-radius: 10px;
		background-color: $burger-color;

		&::before {
			content: '';
			position: absolute;
			top: -8px;
			right: -7px;
			width: 29px;
			height: 3px;
			border-radius: 10px;
			background-color: $burger-color;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -8px;
			right: -7px;
			width: 29px;
			height: 3px;
			border-radius: 10px;
			background-color: $burger-color;
		}
	}
}

select.select-btn {
	font-size: 1.05rem;

	&::after {
		content: '';
		width: 0.8em;
		height: 0.5em;
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	}

	option {
		font-size: 1.05rem;
	}
}

.switch-btn {
	display: flex;
	overflow: hidden;

	& > input {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}

	& > label {
		background-color: $background-color;
		color: rgba(set-text-color($background-color), 0.6);
		font-size: 14px;
		line-height: 1;
		text-align: center;
		padding: 8px 16px;
		margin-right: -1px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
			0 1px rgba(255, 255, 255, 0.1);

		&:hover {
			cursor: pointer;
		}

		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}

		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
	}

	& > input:checked + label {
		background-color: $primary-color;
		color: set-text-color($primary-color);
		box-shadow: none;
	}
}

.number-field {
	width: 120px;
	position: relative;
	display: table;
	border: 1px solid #aaa;
	border-collapse: separate;

	&__input {
		display: table-cell;
		width: 100%;
		margin-bottom: 0;
		border: none !important;
	}

	&__btns {
		position: relative;
		white-space: nowrap;
		width: 1%;
		vertical-align: middle;
		display: table-cell;
	}

	&__btn {
		outline: none;
		border: none;
		cursor: pointer;
		float: none;
		font-size: 12px;
		// line-height: 1.5;
		position: relative;
		background-color: $primary-variant-color;
		color: set-text-color($primary-variant-color);
		text-align: center;
		height: 17px;
		width: 22px;
		padding: 0 6px;
		display: flex;
		flex-direction: column;

		&:hover {
			background-color: $primary-color;
			color: set-text-color($primary-color);
		}
	}
}
