.card-col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card {
    @include card;
    min-width: 100%;
    overflow: hidden;

    & > &__header {
        @include card__header;
    }

    div:not(.card) > &__header {
        @include card__header;
        @include shadow-sm;

        border-top: 6px solid $primary-color;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
    }

    &__body {
        background-color: $surface-color;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;
        padding: 1.5rem;
    }

    & > &__footer {
        @include card__footer;
    }

    div:not(.card) > &__footer {
        @include card__footer;
        @include shadow-sm;

        border-bottom: 6px solid $primary-color;
        border-radius: 1rem;
        margin: 1.5rem 0;
    }
}

.card-inline {
    @include card;
    margin-top: 1.25rem;

    &:first-child {
        margin-top: 0;
    }

    &__body {
        padding: 0.7rem 1.3rem;
        width: 100%;
    }

    &__img {
        box-shadow: 2px 0 3px grey;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        width: 100%;
        z-index: 0;
    }
}