.droppable {
	background-color: $primary-variant-color;
	color: set-text-color($primary-variant-color);
	min-height: 80px;
	padding: 0.7em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;

	&.draggingOver {
		background-color: darken($primary-variant-color, 10%);
		color: set-text-color(darken($primary-variant-color, 10%));
		border: 2px dashed grey;
	}

	& > .draggable {
		user-select: none;
		background-color: $primary-color;
		color: set-text-color($primary-color);
		padding: 10px 15px;
		border: 1px solid grey;

		&.dragging {
			background-color: darken($primary-color, 15%);
			color: set-text-color(darken($primary-color, 15%));
		}
	}
}
