.error-box {
    background-color: $error-color;
    padding: 0.5rem 2rem;
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 8px;

    .error-text {
        font-size: 1.05rem;
        color: set-text-color($error-color);
    }
}