.form-control {
    margin-bottom: 1.5rem;

    &__label {
        font-size: 1.15rem;
        // margin-bottom: 2rem;
    }

    &__input {
        @include shadow-sm;
        font-size: 1.05rem;
        width: 100%;
        padding: 10px;
        height: 100%;
        outline: none;
        border: none;
        background-color: lighten($primary-variant-color, 15%);

        &:focus {
            z-index: 1;
            box-shadow: 0 0 7px $input-focus-color;
        }
    }

    &__textarea {
        margin: -1px 0 0;
        font-size: 14px;
        min-height: 37px;
        resize: vertical;
        // box-shadow: 2px 0 2px grey;
        box-shadow: none;
        border: 1px solid grey;
        border-bottom: none;

        &::-webkit-resizer {
            display: none;
        }
    }

    &__grippie {
        // background-size: cover;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==");
        margin-top: -4px;
        cursor: s-resize;
        height: 12px;
        overflow: hidden;
        background-color: gainsboro;
        border: 1px solid grey;
        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    .icon-form {
        @include shadow-sm;
        display: grid;
        grid-template-columns: 1fr 12fr;

        .icon {
            grid-row: 1/10;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            background-color: $primary-variant-color;
        }


        .form-control__input {
            grid-column: 2;
        }
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
