.btnFacebook {
    width: 165px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    margin: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.btnGoogle {
    margin: 5px;
    width: 165px;
    height: 35px;
    border-radius: 4px;
    background: #db3236;
    color: white;
    border: 0px transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}