.profile {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__img {
		justify-content: center;
		margin-bottom: 20px;
	}

	&__username {
		font-size: 1.6rem;
		font-weight: 600;
	}

	&__bio {
		margin: 15px 0;
		font-size: 1rem;
	}
}

.about-user {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	gap: 0.8rem;
}
