.img-rounded {
    border-radius: 100%;
    padding: 0.3rem;
    border: 1px solid grey;
    background-color: $background-color;
    height: 9rem;
    width: 9rem;

    @include shadow-sm;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__img {
        position: relative;
        margin-bottom: 20px;

        &.owner:hover .img-rounded {
            filter: brightness(60%);
        }

        &.owner:hover .btn__img {
            display: block;
        }
    }

    &__username {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__bio {
        margin: 15px 0;
        font-size: 1rem;
    }
}