.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: #000;
}

.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);


    &.opened {
        transform: translate3d(0vw, 0, 0);
    }

    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: $surface-color;
        list-style-type: none;
        @include shadow-sm;

        &__item {
            margin: 7px 0;
            padding: 0 5px 0 5px;
            width: 100%;
            text-align: center;

            &.active {
                background-color: $secondary-color;
            }
        }

        &__link {
            font-weight: 550;
            text-transform: uppercase;
            color: set-text-color($surface-color);
            background-color: $surface-color;
            padding: 0 1rem;
            font-size: 1.7rem;
        }
    }
}

.dropdown {
    background: transparent !important;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    order: 999;
    z-index: 999;

    &__btn {
        border: none;
        outline: none;
        text-transform: none !important;

        &__icon {
            margin-right: 8px;
        }
    }

    &__menu {
        z-index: 1;
        padding: 0;
        border-bottom: 1px solid set-text-color($surface-color);
        border-top: 1px solid set-text-color($surface-color);
        padding: 20px;

        &__link {
            width: 100%;
            color: set-text-color($surface-color);
            padding: 12px 16px;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            &.active {
                color: set-text-color($secondary-color);
                background-color: $secondary-color;
            }
        }
    }
}